.StoryhubsFeedback {
    background-color: #E4EFE7;
    border: 1px solid #2596be;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .StoryhubsFeedback figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #2596be;
  }
  
  .Heart:hover {
    color: #ADF;
  }
  
  .HeartOutline:hover {
    color: #2596be;
  }